DISCORD_TOKEN=DISCORD_TOKEN
DISCORD_CLIENT_ID=DISCORD_CLIENT_ID
DISCORD_CLIENT_SECRET=DISCORD_CLIENT_SECRET
TWITCH_CLIENT_ID=TWITCH_CLIENT_ID
TWITCH_CREDENTIALS=TWITCH_CREDENTIALS
TWITCH_ACCESS_TOKEN=
TWITCH_REFRESH_TOKEN=
JWT_SECRET=JWT_SECRET
ENVIRONMENT_STATE=DEVELOPMENT
TWITCH_SUBSCRIPTION_CALLBACK_URL=
TWITCH_EVENTSUB_SECRET=TWITCH_EVENTSUB_SECRET
TWITCH_EVENTSUB_PORT=8001
DISCORD_REDIRECT_URI=
TWITCH_REDIRECT_URI=
TWITCH_LIVE_MESSAGE_COOLDOWN_IN_SECONDS=
COMMAND_RESPONSE_COOLDOWN_IN_SECONS=
